<!doctype html>
<html ng-app="HelloWorld">
  <head>
  <script src="angular.js"></script>
  <script src="app.js"></script>
</head>
<body>
  <div ng-controller="HelloCtrl">
    Hello, {{greeting}}!
  </div>
</div>
</body>
</html>